<!DOCTYPE html>
<html>
    <head>
        <title>Loading demo from server</title>
    </head>
    <body>
        <div>
          <form id="my-form">
            <label for="username">username</labe>
            <input id="username" name="username" value="" />
            <label for="password">password</labe>
            <input id="password" name="password" type="password" value="" />
            <button type="submit">Log in</button>
          </form>
        </div>
        <script src="/static/client.js"></script>
    </body>
</html>
